<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewponint" content="width=device-width, initial-scale=1.8">
    <link rel="stylesheet" href="style.css">    
    <title>NckScore</title>

</head>
<body>
    여기는 루트 입니다.   
</body>
</html>