<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewponint" content="width=device-width, initial-scale=1.8">
    <link rel="stylesheet" href="style.css">    
    
    <script src ="/js/home/login.js" defer></script> 
    <title>NckScore</title>
</head>
<body>
    <h1>Nck Score</h1>

    <img src="Image/로고.png"><br>

    <input type="text" name="id" id="id" autocomplete="off" required>
    <label for="id"><strong>USER NAME</strong></label><br>

    <input type="password" name="psword" id="psword" autocomplete="off" required>
    <label for="psword"><strong>PASSWORD</strong></label><br>

    <button>LOGIN</button><br>

    <a href="">Forgot Password?</a>
</body>
</html>