<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewponint" content="width=device-width, initial-scale=1.8">
   
    <link rel="stylesheet" href="/css/home/login.css">
    
    <script src ="/js/home/login.js" defer></script> 
    <title>NckScore</title>
</head>
<body>
    <section class="login-form">
        <h1>Nck Score</h1>
        <form>
            <div class="logo">
                <img src =/로고.png>
            </div>
            </div>
            <div class="int-area">
                <input type="text" name="id" id="id" autocomplete="off" required>
                <label for="id"><strong>USER NAME</strong></label>
            </div>
            <div class="int-area">    
                <input type="password" name="pswrod" id="psword" autocomplete="off" required>
                <label for="psword"><strong>PASSWORD</strong></label>
            </div>
            <div class="btn-area">
                <button>LOGIN</button>
            </div>
            <div class="caption">
                <a href="/register">Create an account</a><br>
                <a href="">Forgot Password?</a>
            </div>
        </form>
    </section>
</body>
</html>